
* {
  box-sizing: border-box;
  color: var(--gray-3);
  font-size: var(--s4);
}

body, * {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* Pre-prepared styles */

:root {

  /* Colors */
  --primary: hsl(291, 90%, 61%);
  --secondary: hsl(251, 68%, 70%);
  --success: hsl(147, 73%, 55%);
  --warning: hsl(49, 86%, 58%);
  --danger: hsl(0, 94%, 57%);

  /* Grays */
  --gray-1: hsl(0, 0%, 10%);
  --gray-2: hsl(0, 0%, 20%);
  --gray-3: hsl(0, 0%, 30%);
  --gray-4: hsl(0, 0%, 40%);
  --gray-5: hsl(0, 0%, 50%);
  --gray-6: hsl(0, 0%, 60%);
  --gray-7: hsl(0, 0%, 70%);
  --gray-8: hsl(0, 0%, 80%);
  --gray-9: hsl(0, 0%, 90%);

  /* Shadows */
  --shadow-1: 0 1px 3px hsla(0, 0%, 0%, 0.2);
  --shadow-2: 0 4px 6px hsla(0, 0%, 0%, 0.2);
  --shadow-3: 0 5px 15px hsla(0, 0%, 0%, 0.2);
  --shadow-4: 0 10px 24px hsla(0, 0%, 0%, 0.2);
  --shadow-5: 0 15px 35px hsla(0, 0%, 0%, 0.2);

  /* Sizing */
  --s1: 4px;
  --s2: 8px;
  --s3: 12px;
  --s4: 16px;
  --s5: 24px;
  --s6: 32px;
  --s7: 48px;
  --s8: 64px;
  --s9: 96px;
  --s10: 128px;
  --s11: 192px;
  --s12: 256px;
  --s13: 384px;
  --s14: 512px;
  --s15: 640px;
  --s16: 768px;
}



/* Basic styles */

.flex {
  display: flex;
  flex-flow: row wrap;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex--column {
  flex-flow: column nowrap;
}

.color--primary {
  color: var(--primary);
}

.color--secondary {
  color: var(--secondary);
}



/* Common components */

.button {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-width: 35px;
  min-height: 35px;
  padding: var(--s2) var(--s4);
  font-size: var(--s3);
  font-weight: 500;
  background-color: white;
  color: var(--gray-2);
  border-radius: 1000px;
  border: none;
  text-transform: uppercase;
  transition: 150ms ease-in-out;
}

.button--primary {
  background-color: var(--primary);
  color: white;
}

.button--secondary {
  background-color: var(--secondary);
  color: white;
}

.button--color-primary {
  color: var(--primary);
}

.button--color-secondary {
  color: var(--secondary);
}

.button--min-w {
  min-width: var(--s10);
}

.button--icon {
  padding: 0;
}

.button:hover {
  cursor: pointer;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--gray-7);
}



.input__label {
  padding: 0 var(--s3) var(--s1) var(--s3);
  font-size: var(--s3);
  font-weight: 700;
}

.input {
  width: 100%;
  height: 35px;
  padding: 0 var(--s3);
  margin: 0;
  font-size: var(--s4);
  background-color: white;
  border: 2px solid var(--gray-6);
  border-radius: 1000px;
  transition: 150ms ease-in-out;
}

.input--pure {
  padding: 0;
  border: none;
  border-bottom: 2px solid transparent;
  border-radius: 0;
}

.input__container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: var(--s13);
  padding: var(--s2) 0 var(--s5);
}

.input__error {
  padding: var(--s1) var(--s3) 0 var(--s3);
  color: var(--danger);
  font-size: var(--s3);
  font-weight: 700;
}

.input:focus {
  outline: none;
  border: 2px solid var(--primary);
}

.input--pure:focus {
  border: none;
  border-bottom: 2px solid var(--gray-7);
}



/* ** Project-specific components ** */

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
  background: linear-gradient(130deg, var(--primary), var(--secondary));
}



.dialog__container {
  padding: var(--s4);
  width: 100%;
  max-width: var(--s14);
  min-height: var(--s9);
}

.dialog {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0 var(--s5) var(--s7) var(--s5);
  background-color: white;
  border-radius: var(--s3);
  box-shadow: var(--shadow-5);
}

.dialog__heading {
  margin: var(--s6) 0 var(--s7) 0;
  font-size: var(--s6);
}

.dialog__heading--sm {
  margin: var(--s6) 0 var(--s7) 0;
  font-size: var(--s5);
  text-align: center;
}

.dialog__separator {
  margin: var(--s4) 0;
}

.dialog__action-btns {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: var(--s5);
}



.profile-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: 100vh;
  padding: var(--s8) 0;
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--s3);
  background-color: white;
  box-shadow: var(--shadow-1);
  position: fixed;
  top: 0;
  left: 0;
}

.nav__welcome {
  margin-right: var(--s3);
  font-size: var(--s4);
  font-weight: 500;
}

.nav__username {
  color: var(--primary);
}


.notes {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: flex-start;
  width: 100%;
}


.note {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: var(--s3);
  padding: var(--s3) var(--s4);
  border-radius: var(--s2);
  box-shadow: var(--shadow-1);
}

.note--create {
  margin: 0 0 var(--s5) 0;
}

.note__text {
  align-self: center;
  font-weight: 500;
}

.note__btns {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.note__btn {
  margin-right: var(--s2);
}


.create__form {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}